.DS_Store
/node_modules
.module-cache
.eslintcache
.awcache
/build
/dist
/src/shared/messages.js
/src/shared/messages.d.ts

# IntelliJ IDEA
/.idea/workspace.xml
/.idea/tasks.xml

# Jest coverage report
/coverage

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ctags index file
tags
